/* -- ASPxNavBar 
.dxnbControl_AquaNavigation
{
	font: 9pt Tahoma;
	color: White;
	background-color: #CFE3FB;
	padding: 3px 0px;
}
.dxnbControl_AquaNavigation a
{
	color: Black; 
	text-decoration: none;
}
.dxnbGroupHeaderCollapsed_AquaNavigation
{
    font: 11px Tahoma;
	color: White;

	font-weight: normal;
    					
	border: 0px;
	
	padding: 4px 7px 5px 7px;
}
.dxnbGroupHeaderCollapsed_AquaNavigation table
{
    font: 11px Tahoma;
	color: Black;
}
.dxnbGroupHeaderCollapsed_AquaNavigation table td
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsedHover_AquaNavigation
{
	background-image: url('nbHeaderGroupHover.gif');
    background-repeat: repeat-x;
    background-color: #E0EFFF;
    border: Solid 1px #92B2DD;
	padding: 3px 6px 4px 6px;
}
.dxnbGroupHeader_AquaNavigation
{
    font: 11px Tahoma;
	color: Black;

	background-color: #E0EFFF;
	font-weight: bold;

	background-image: url('nbHeaderGroup.gif');
    background-repeat: repeat-x;	
	
	border: Solid 1px #92B2DD;
	
	padding: 3px 6px 3px 6px;
}
.dxnbGroupHeader_AquaNavigation table
{
    font: 11px Tahoma;
	color: Black;
	font-weight: bold;
}
.dxnbGroupHeader_AquaNavigation table td
{
    color: #283B56;
	white-space: nowrap;
	font-weight: bold;
}
.dxnbGroupContent_AquaNavigation
{
    font: 11px Tahoma;
	background-color: #E0EDFF;
	background-image: url('nbGroupContentBackground.gif');
	background-repeat: repeat-x;
	border: 0px;
	border-bottom: Solid 1px #AECAF0;
	
	padding: 7px 0px 7px 0px;
}
.dxnbItem_AquaNavigation
{
    font: 11px Tahoma;

    border: 0px;
    padding: 1px 30px 3px;
}
.dxnbItemSelected_AquaNavigation
{
    color: Black;
    font-weight: bold;
	background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
    padding: 1px 30px 3px 29px;
}
.dxnbItemHover_AquaNavigation
{
	background-color: #B4D4FA;
}
-- */